@font-face {
  font-family: hk-guise-light;
  src: url("../asserts/fonts/hk-guise-light.otf");
}

@font-face {
  font-family: hk-guise-semi-bold;
  src: url("../asserts/fonts/hk-guise-semi-bold.otf");
}
