@mixin header-font-style-md {
  color: white;
  font-family: "hk-guise-light", sans-serif;
  font-size: calc(15px + 0.258vw);
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0px;
}

@mixin header-font-style-lg {
  color: white;
  font-family: "hk-guise-semi-bold", sans-serif;
  font-size: 114px;
  font-weight: 500;
  line-height: 87px;
  letter-spacing: -5.31px;
}

@mixin nav-el-font-sm {
  color: white;
  font-family: "hk-guise-semi-bold", sans-serif;
  font-size: 14.4px;
  font-weight: 500;
}

@mixin header-style-list {
  display: flex;
  li a {
    text-decoration: none;
    @include header-font-style-md();
    margin-left: 1.6em;
    &:hover {
      text-decoration: underline;
    }
  }
  list-style-type: none;
}
